-i https://pypi.org/simple
black==23.7.0; python_version >= '3.8'
click==8.1.7; python_version >= '3.7'
flake8==6.0.0; python_full_version >= '3.8.1'
mccabe==0.7.0; python_version >= '3.6'
mypy-extensions==1.0.0; python_version >= '3.5'
packaging==23.2; python_version >= '3.7'
pathspec==0.11.2; python_version >= '3.7'
platformdirs==3.11.0; python_version >= '3.7'
pycodestyle==2.10.0; python_version >= '3.6'
pydocstyle==6.3.0; python_version >= '3.6'
pyflakes==3.0.1; python_version >= '3.6'
snowballstemmer==2.2.0
tomli==2.0.1; python_version < '3.11'
altgraph==0.17.4
annotated-types==0.6.0; python_version >= '3.8'
certifi==2023.7.22; python_version >= '3.6'
charset-normalizer==3.3.2; python_full_version >= '3.7.0'
dnspython==2.4.2; python_version >= '3.8' and python_version < '4.0'
idna==3.4; python_version >= '3.5'
markdown-it-py==3.0.0; python_version >= '3.8'
mdurl==0.1.2; python_version >= '3.7'
pydantic==2.2.0; python_version >= '3.7'
pydantic-core==2.6.0; python_version >= '3.7'
pygments==2.16.1; python_version >= '3.7'
pyinstaller==5.13.0; python_version < '3.13' and python_version >= '3.7'
pyinstaller-hooks-contrib==2023.10; python_version >= '3.7'
pymongo==4.4.1; python_version >= '3.7'
requests==2.31.0; python_version >= '3.7'
rich==13.5.2; python_full_version >= '3.7.0'
setuptools==68.2.2; python_version >= '3.8'
typer==0.9.0; python_version >= '3.6'
typing-extensions==4.8.0; python_version >= '3.8'
urllib3==2.0.7; python_version >= '3.7'
wget==3.2
