[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
typer = "==0.9.0"
pymongo = "==4.4.1"
pyinstaller = "==5.13.0"
requests = "==2.31.0"
wget = "==3.2"
rich = "==13.5.2"
pydantic = "==2.2.0"

[dev-packages]
black = "==23.7.0"
flake8 = "==6.0.0"
pydocstyle = "==6.3.0"

[requires]
python_version = "3.10"
